.turnitin{
  opacity:0.5;
}
.turnitin:hover {
  opacity: 1;
}

.mydivider{
  height:0;
  margin:.5rem 0;
  overflow:hidden;
  border-top:1px solid #639fff
}

html {
  scroll-behavior: smooth;
}

.tabSpace{margin:50px;}


/*Mproject*/
.mycard{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid #e3e6f0;border-radius:.35rem;margin-left:5%; width:130%;}
.myshadow{box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important}
.mymb-4{margin-bottom:1.5rem!important}
.mycard-header{margin-bottom:0;background-color:#f8f9fc;border-bottom:1px solid #e3e6f0;text-align: center;padding-left:40%}
.mycard2{position:static;display:flex;flex-direction:column;word-wrap:break-word;height:92%;max-width:60%;background-color:#fff;background-clip:border-box;border:1px solid #e3e6f0;border-radius:.35rem;margin-left:12%;}
.myads{margin-left:24%;margin-top:3%;font-size:20px;}
.ads2{margin-left:5%;}

/*Msubject*/
.mscard{background-color:#fff;padding:1%;width:70%;margin-left:10%;margin-top:9%;border:1px solid #e3e6f0;}
.msleft{margin-left:85%;}
.eXpand{border:1px solid #e3e6f0;box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15);transition:0.5s;cursor:default;}
.eXpand:hover{background-color:rgba(232, 251, 255);}
.mscardin{background-color:#fff;margin-bottom:10px;padding:1%;width:70%;margin-left:10%;border:1px solid #e3e6f0;display:none;}
.mscardin td {border-bottom-style:solid #e8f1ff;padding:3% 2%;}
.mscardindv {background-color:#e8f1ff;}
.mscardindv2 {background-color:#f5f7fa;}
.mscardwidthStu {width:30%; padding-left: 20px;}
.mscardwidth2 {width:750px;}
.msftop {margin-top:26%;}
.addbuttonS{position:absolute;margin-left: 30%;margin-top: 32%;}
.savebuttonS{position:absolute;margin-left: 45%;margin-top: 32%;width:5%;}
.floating-btn{width:40px;height:40px;background-color: #55E9DD;display:flex;align-items: center;justify-content: center;
              text-decoration: none;font-size: 20px;color:white;border-radius: 50%;box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
              position:fixed;right:20px;bottom:20px;transition: background 0.25s;z-index: 1; outline: 0 none; border:none;
              cursor: pointer !important;}
.floating-btn:active{background-color: #48C3B9;}

/*Mmark*/
.mmfcontainer{display:flex;flex-wrap:wrap;}
.mmdivider{margin-left: 5%;margin-top:1%;}
.mmcard{margin-left:25%;width:100%;}
.mmcardin{margin-left: 25%;width:100%;}
.mmeXpand{border:1px solid #e3e6f0;box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15);cursor:default;font-size:20px;text-align: center;}
.mmcardin td,th {border-bottom-style:solid #e8f1ff;padding:5% 6%;}
.mmcardindv {background-color:#e8f1ff;}
.mmcardindv2 {background-color:#f5f7fa;}
.mmcardindv3 {background-color:#abcbff;}
.mmcardwidth {width:30%;}
.mmcardwidth2 {width:auto;}
.mmftop {margin-top:26%;}

/*Mprofile*/
.mpPpic{border-radius:50%;width:20%;height:1%;position:relative;}
.mpEpic{position:absolute;right:1080px;top:400px;background-color: white;padding:1%;}
.mpfcontainer{display:flex;flex-wrap:wrap;margin-top:5%;}
.mpPpos{margin-left:15%;}
.mpformpos{margin-left:65%;}
.mplbpos{margin-top:35%;}
.mplbpos2{width:180%;margin-top:20%;}
.mpinpos{width:600%;max-width: 600%;padding-left: 20px}
#custom-button{padding:10px;color:white;background-color:#527ec4;border:1px solid #000;border-radius: 5px;cursor:pointer;position:absolute;top:60%;left:34%;}
#custom-button:hover{background-color:#5c8ddb;}
#mpsavebtn{padding:10px;color:white;background-color:#58c788;border:1px solid #58c788;border-radius: 5px;cursor:pointer;width:20%;position: absolute;top:73%;left:32%;}
#mpsavebtn:hover{background-color:#60e098;}
#mpcancelbtn{padding:10px;color:white;background-color:#90a5a6;border:1px solid #90a5a6;border-radius: 5px;cursor:pointer;width:20%;position: absolute;top:73%;right:23%;}
#mpcancelbtn:hover{background-color:#a9c1c2;}
.mpftop{margin-top:6%;}

/*Mactivity*/
.maTable table,th,td{margin:5% 15%;}
.maTable th{font-size: 22px;background-color:#abcbff;text-align: left;border-right: 1px solid #fff;}
.maTable td{word-wrap: break;font-size: 20px;border-right: 3px solid #fff;}
.maTdate {width:6%;}
.maTActivity{padding-left:1%;width:0%;}
.maftop{margin-top:15%;}
.maEnroll{background-color: #d1e3ff}
.maSubmit{background-color:#e8f1ff;}
.maEmail{background-color: #f5f7fa}

/*Menrol*/
.mecard{border:1px solid #f2fbff;width:50%;margin-left:16%;margin-top: 5%;position:absolute;background-color: #def5ff;}
.mecard td{word-wrap: normal;width:1%;}
.mectitle {font-size: 30px;text-align: center;background-color: #9ed2e8;color:white;}
.melabel{margin-left: 67%;margin-top: 10%;}
.meinput{margin-top:5%;margin-left: 6%;}
.meenrol{margin-left:41%;margin-top: 3%;margin-bottom: 3%;width:20%;}

/*Msubject(Lecturer)*/
.mscard{background-color:#fff;padding:1%;width:70%;margin-left:10%;margin-top:9%;border:1px solid #e3e6f0;}
.msleft{margin-left:85%;}
.eXpand{border:1px solid #e3e6f0;box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15);transition:0.5s;cursor:default;}
.eXpand:hover{background-color:rgba(232, 251, 255);}
.mscardin{background-color:#fff;margin-bottom:10px;padding:1%;width:70%;margin-left:10%;border:1px solid #e3e6f0;display:none;}
.mscardin td {border-bottom-style:solid #e8f1ff;padding:3% 2%;}
.mscardindv {background-color:#e8f1ff;}
.mscardindv2 {background-color:#f5f7fa;word-wrap: break-word;}
.mslcardwidth {width:300px;border-right: 2px solid white; text-align: center;}
.mslcardwidth2 {width:380px;border-right: 2px solid white;text-align: center;}
.mslcardwidth3 {width:500px;text-align: center;}
.msftop {margin-top:26%;}
.addbutton{position:absolute;margin-left: 15%;margin-top: 32%;}
.savebutton{position:absolute;margin-left: 30%;margin-top: 32%;width:5%;}

/*MsubjectAssign(Lecturer)*/
.malcard{border:1px solid black;width:70%;margin-left: 12%;padding-bottom: 20%;text-align: center;padding-top: 3%;margin-top: 5%;}
.malcardfleax{display:flex;}
.malcardcol{display:block;position: absolute;margin-top: 1.5%;margin-left: 20%;}
.malcardcol2{display:block;position: absolute;margin-top: 4.5%;margin-left: 20%;}
.malcardcol3{display:block;position: absolute;margin-top: 7.5%;margin-left: 20%;}
.malsubname{width:50%;}
.malcourse{position: absolute;margin-left: -17.9%;margin-top: 1.5%;}
.malbtn{position: absolute;margin-top: 12%;margin-left: 24%;}
.malsubjects{width:10%;}


/*Mproject(Admin)*/
.mpaannoucment{position: absolute;width:40%;margin-left: 5%;}
.mpaannoucment2{position: absolute;width:27.5%;margin-left: 50%;}
.mpanote{padding-left: 10%;}
.mpasave{padding:1.4% 2%;margin-left: 44%;}

/*Maccount(Admin)*/
.macard{background-color:#fff;padding:1%;width:75%;margin-left:10%;margin-top:9%;border:1px solid #e3e6f0;}
.maleft{margin-left:91%;}
.maleft2{margin-left: 91%;}
.maeXpand{border:1px solid #e3e6f0;box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15);transition:0.5s;cursor:default;}
.maeXpand:hover{background-color:rgba(232, 251, 255);}
.macardin{background-color:#fff;margin-bottom:10px;padding:1%;width:75%;margin-left:10%;border:1px solid #e3e6f0;display:none;}
.macardin td {border-bottom-style:solid #e8f1ff;padding:3% 2%;}
.macardindv {background-color:#e8f1ff;}
.macardindv2 {background-color:#f5f7fa;word-wrap: break-word;}
.macardindv3 {background-color:#e6f5f5;word-wrap: break-word;}
.macardwidth {width:125px;border-right: 2px solid white; text-align: center;}
.macardwidth2 {width:268px;border-right: 2px solid white;text-align: center;}
.macardwidth3 {width:140px;text-align: center;}
.macardwidth4 {width:200px;border-right: 2px solid white;text-align: center;}
.macardwidth5 {width:110px;border-right: 2px solid white; text-align: center;}
.macardwidth6 {width:200px;border-right: 2px solid white; text-align: center;word-wrap: break-word;}
.maremove{color:blue}
.maremove:hover{text-decoration: underline;color:red;cursor: pointer;}
.maftop {margin-top:26%;}
.mainputID{width:100%;text-align:center;}
.mainputNAME{width:100%;text-align:center;}
.maaddbtn{width:100%;}
.maaddbtn:hover{border-color: blue;}
.macard2{background-color:#fff;padding:1%;width:75%;margin-left:10%;margin-top:9%;border:1px solid #e3e6f0;}
.maleft3{margin-left: 92%;}
.macardin2{background-color:#fff;margin-bottom:10px;padding:1%;width:75%;margin-left:10%;border:1px solid #e3e6f0;display:none;}
.macardin2 td {border-bottom-style:solid #e8f1ff;padding:3% 2%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .mycard{position:relative;display:flex;flex-direction:column;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid #e3e6f0;border-radius:.35rem;margin-left:5%;margin-right:2%; max-width:97%;font-size:15px;padding:0 2%;}
  .myshadow{box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important}
  .mymb-4{margin-bottom:1.5rem!important}
  .mycard-header{padding-left:35%;margin-bottom:0;background-color:#f8f9fc;border-bottom:1px solid #e3e6f0}
  .mycard2{position:static;display:flex;flex-direction:column;word-wrap:break-word;height:50%;max-width:71%;background-color:#fff;background-clip:border-box;border:1px solid #e3e6f0;border-radius:.35rem;margin-left:4%;}
  .myads{margin-left:12%;margin-top:15%;font-size:19px;}
  .ads2{margin-left:0%;margin-top:4%;}

  /* Msubject */
  .mscard{background-color:#fff;padding:2%;width:85%;margin-left:5%;margin-top:25%;border:1px solid #e3e6f0;}
  .mscardin{background-color:#fff;margin-bottom:10px;padding:1%;width:85%;margin-left:5%;border:1px solid #e3e6f0;display:none;}
  .msleft{margin-left:55%;}
  .mscardwidth {width:40%;}
  .mscardwidth2 {width:750px;}
  .msftop {margin-top:40%;}
  .addbutton{position:absolute;margin-left: 3%;margin-top: 80%;}
  .savebutton{position:absolute;margin-left: 35%;margin-top: 80%;width:20%;}
  .tabSpace{margin:20px;}

  /*Mmark*/
  .mmfcontainer{display:block;}
  .mmdivider{margin-left: 0%;margin-top:7%;}
  .mmcard{margin-left:2.5%;width:100%;}
  .mmcardin{margin-left: 2.5%;width:100%;}
  .mmeXpand{border:1px solid #e3e6f0;box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15);cursor:default;font-size:20px;text-align: center;}
  .mmcardin td,th {border-bottom-style:solid #e8f1ff;padding:5% 6%;}
  .mmcardindv {background-color:#e8f1ff;}
  .mmcardindv2 {background-color:#f5f7fa;}
  .mmcardindv3 {background-color:#abcbff;}
  .mmcardwidth {width:30%;}
  .mmcardwidth2 {width:auto;}
  .mmftop {margin-top:26%;}

  /*Mprofile*/

  .mpPpic{border-radius:50%;width:70%;height:10%;position:relative;}
  .mpEpic{right:1080px;top:400px;background-color: white;padding:1%;}
  .mpfcontainer{display:block;margin-top:5%;}
  .mpPpos{margin-left:15%;}
  .mpformpos{margin-left:0%;margin-top: 30%;}
  .mplbpos{margin-top:10%;}
  .mplbpos2{width:70%;margin-top:10%;}
  .mpinpos{width:100%;max-width: 600%;}
  #custom-button{padding:10px 20px;color:white;background-color:#527ec4;border:1px solid #000;border-radius: 5px;cursor:pointer;position:absolute;top:35%;left:50%;}
  #custom-button:hover{background-color:#5c8ddb;}
  #mpsavebtn{padding:10px;color:white;background-color:#58c788;border:1px solid #58c788;border-radius: 5px;cursor:pointer;width:20%;position: absolute;top:80%;left:35%;}
  #mpsavebtn:hover{background-color:#60e098;}
  #mpcancelbtn{padding:10px;color:white;background-color:#90a5a6;border:1px solid #90a5a6;border-radius: 5px;cursor:pointer;width:20%;position: absolute;top:80%;right:15%;}
  #mpcancelbtn:hover{background-color:#a9c1c2;}
  .mpftop{margin-top:6%;}

  /*Mactivity*/
  .maTable table,th,td{margin:0% 0%;}
  .maTable th{font-size: 20px;background-color:#abcbff;text-align: left;border-right: 1px solid #fff;}
  .maTable td{word-wrap: break;font-size: 18px;border-right: 3px solid #fff;}
  .maTdate {width:6%;}
  .maTActivity{padding-left:1%;width:0%;}
  .maftop{margin-top:15%;}
  .maEnroll{background-color: #d1e3ff}
  .maSubmit{background-color:#e8f1ff;}
  .maEmail{background-color: #f5f7fa}

  /*Menrol*/
  .mecard{border:1px solid #f2fbff;width:70%;margin-left:0%;margin-top: 5%;position:absolute;background-color: #def5ff;}
  .mecard td{word-wrap: normal;width:1%;}
  .mectitle {font-size: 30px;text-align: center;background-color: #9ed2e8;color:white;}
  .melabel{margin-left: 20%;margin-top: 10%;}
  .meinput{margin-top:7%;margin-left: 6%;}
  .meenrol{margin-left:38%;margin-top: 5%;margin-bottom: 5%;width:20%;}

  /*Msubject_Lec*/
  .mslcardwidth {width:200px;border-right: 2px solid white; text-align: center;}
  .mslcardwidth2 {width:280px;border-right: 2px solid white;text-align: center;}
  .mslcardwidth3 {width:400px;text-align: center;}
  .mscardindv2 {background-color:#f5f7fa;font-size: 12px;word-wrap: break-word;}

  /*MsubjectAssign(Lecturer)*/
  .malcard{border:1px solid black;width:100%;margin-left: 0%;padding-bottom: 110%;text-align: center;padding-top: 3%;margin-top: 5%;}
  .malcardfleax{display:flex;}
  .malcardcol{display:block;position: absolute;margin-top: 8.5%;margin-left: 1%;}
  .malcardcol2{display:block;position: absolute;margin-top: 28.5%;margin-left: 1%;}
  .malcardcol3{display:block;position: absolute;margin-top: 48.5%;margin-left: 1%;}
  .malsubname{width:50%;}
  .malcourse{position: absolute;margin-left: -28.5%;margin-top: 1.5%;}
  .malbtn{position: absolute;margin-top:66%;margin-left: 23%;}
  .malsubjects{width:40%}

  /*Maccount(Admin)*/
  .macard{background-color:#fff;padding:1%;width:100%;margin-left:0%;margin-top:9%;border:1px solid #e3e6f0;}
  .maleft{margin-left:67%;}
  .maleft2{margin-left: 67%;}
  .maeXpand{border:1px solid #e3e6f0;box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15);transition:0.5s;cursor:default;}
  .maeXpand:hover{background-color:rgba(232, 251, 255);}
  .macardin{background-color:#fff;margin-bottom:10px;padding:1%;width:80%;margin-left:0%;border:1px solid #e3e6f0;display:none;}
  .macardin td {border-bottom-style:solid #e8f1ff;padding:3% 2%;}
  .macardindv {background-color:#e8f1ff;}
  .macardindv2 {background-color:#f5f7fa;word-wrap: break-word;}
  .macardindv3 {background-color:#e6f5f5;word-wrap: break-word;}
  .macardwidth {width:125px;border-right: 2px solid white; text-align: center;}
  .macardwidth2 {width:268px;border-right: 2px solid white;text-align: center;}
  .macardwidth3 {width:110px;text-align: center;}
  .macardwidth4 {width:200px;border-right: 2px solid white;text-align: center;}
  .macardwidth5 {width:110px;border-right: 2px solid white; text-align: center;}
  .macardwidth6 {width:200px;border-right: 2px solid white; text-align: center;}
  .maremove{color:blue}
  .maremove:hover{text-decoration: underline;color:red;cursor: pointer;}
  .maftop {margin-top:26%;}
  .mainputID{width:100%;text-align:center;}
  .mainputNAME{width:100%;text-align:center;}
  .maaddbtn{width:100%;}
  .maaddbtn:hover{border-color: blue;}
  .macard2{background-color:#fff;padding:1%;width:100%;margin-left:-5%;margin-top:9%;border:1px solid #e3e6f0;}
  .maleft3{margin-left: 76%;}
  .macardin2{background-color:#fff;margin-bottom:10px;padding:1%;width:100%;margin-left:-5%;border:1px solid #e3e6f0;display:none;}
  .macardin2 td {border-bottom-style:solid #e8f1ff;padding:3% 2%;}
}
